<section class="mb-12 flex flex-col gap-2 sm:mb-12 md:mb-10">
  <p class="text-11 font-mono tracking-widest text-stone-400 uppercase">
    {{ pageHeaderContent().label }}
  </p>
  <h1
    class="bg-linear-to-r from-amber-700 via-amber-600 to-amber-500 bg-clip-text text-4xl font-bold text-transparent"
  >
    {{ pageHeaderContent().title }}
  </h1>
  <div class="mt-1.5">
    <p class="max-w-3xl">
      {{ pageHeaderContent().description1 }}
    </p>
    @if (pageHeaderContent().description2) {
      <p class="mt-2 max-w-3xl">
        {{ pageHeaderContent().description2 }}
      </p>
    }
  </div>
</section>
