<footer
  class="mono-text mx-auto flex w-full flex-row flex-wrap items-center justify-between gap-5 border-t border-stone-300 px-4 py-6 font-mono text-xs sm:pt-6 sm:pb-5 md:px-8 lg:px-6"
>
  <div>
    © <time>{{ currentYear }}</time> Francis Earl Fojas. All rights reserved.
  </div>
  <div>
    v{{ buildInfo.version }} •
    <a routerLink="/changelog" class="interactive-link text-amber-700">View Changelog</a>
    • Updated
    <time [attr.datetime]="buildInfo.buildDate">{{ buildInfo.buildDate | date: 'MMM d, y' }}</time>
  </div>
  <div class="flex flex-col items-start gap-3.5 sm:flex-row sm:items-center">
    <p>Built with</p>
    <ul class="flex flex-col items-start gap-3.5 sm:flex-row sm:items-center sm:gap-5">
      @for (item of techStack; track item.name) {
        <li class="inline-flex items-center gap-1.5">
          <ng-icon [name]="item.icon" />
          <span>{{ item.name }} {{ item.version }}</span>
        </li>
      }
    </ul>
  </div>
</footer>
