/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --font-sans: "Sora", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --text-10: 10px;
  --text-11: 11px;
  --text-13: 13px;
}

body {
  @apply font-sans;
}